*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

.main{
    position: relative;
    background: url(image/banner.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}  


.sec1{
    padding-top: 200px;
} 

.logo{
    margin-left: 30%;   
}


@media screen and (min-width:768px) {
    .btn{
      margin-top: 50px;
    }
  }

.hed{
    padding-top: 20%;
}